#root {
    width: 100%;
    display: grid;
    grid-template-rows: 80px 1fr;
}

.main {
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 20px;
}

.nav a{
    margin-right: 20px;
    font-size: 24px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 30%;
    padding: 15px;
    margin-bottom: 20px;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    cursor: pointer;
    transition: all ease 0.1s;
}

.card:hover {
    background-color: var(--sub-color);
}

.card__img {
    width: 100%;
}

.card__title {
    font-size: 20px;
    color: var(--text-main-color);
}

.card__price {
    font-size: 20px;
}


.search {
    margin-bottom: 20px;

    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px;

    font-size: 18px;
    border-radius: 9px;
    border: 1px solid #eeeeee;
}

.search input {
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 20px;
}

.search > input:focus ~ svg {
   fill: var(--text-main-color);
}

.error {
    color: var(--error-color);
}

form {
    text-align: left;
    width: 30vw;
    padding: 20px;
    margin: 0 auto;

    font-size: 18px;
    background-color: var(--sub-color);
    border-radius: 10px;
}

form label {
    margin-bottom: 10px;
}

label input {
    font-size: 18px;
    padding: 5px;
    margin: 0 10px;
    background-color: var(--background-color);
    border: none;
} 

input[type="file"] {
    display: none;
}

.file-button {
    padding: 10px;
    margin-right: 10px;

    border-radius: 7px;
    background-color: var(--button-color);

    cursor: pointer;
}

.success-message {
    text-align: center;
    color: var(--text-main-color);
}

.file-button:hover {
    background-color: var(--sub-color);
}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

@media(max-width: 1200px) {
    .card {
        flex: 0 0 45%;
    }

    form {
        width: 70vw;
    }
}

@media(max-width: 800px) {
    .card {
        flex: 0 0 100%;
    }
}